<!-- navigation -->
{% load menu_tags %}
{% url 'nms:devices' as devices %}

<ul class="tabset buttons">
	<li class="{% active request index %}">
		<a href="{% url 'nms:index' %}" class="ico4"><span>Dashboard</span><em></em></a>
		<span class="tooltip"><span>Dashboard</span></span>
	</li>
	<li class="{% active request devices %}">
		<a href="{% url 'nms:devices' %}" class="ico1"><span>Devices</span><em></em></a>
		<span class="tooltip"><span>Devices</span></span>
	</li>
	<li class="{% active request device_add %}">
		<a href="{% url 'nms:device_add' %}" class="ico7"><span>Add Device</span><em></em></a>
		<span class="tooltip"><span>Add Device</span></span>
	</li>
	<li class="{% active request acl %}">
			<a href="{% url 'nms:acl' %}" class="ico8"><span>ACL</span><em></em></a>
			<span class="tooltip"><span>ACL</span></span>
		</li>
	<li class="{% active request user_settings %}">
		<a href="/settings" class="ico5"><span>User Settings</span><em></em></a>
		<span class="tooltip"><span>User Settings</span></span>
	</li>
</ul>
