<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<title>Network Management System - AdminPanel: ACL</title>
	<link media="all" rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/all.css" />
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script type="text/javascript">window.jQuery || document.write('<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.2.min.js"><\/script>');</script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.main.js"></script>
	<!--[if lt IE 9]><link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/ie.css" /><![endif]-->
</head>
<body>
	<div id="wrapper">
		<div id="content">
			<div class="c1">
				<div class="controls">
					<nav class="links">
						{% include "_navup.html" %}
					</nav>
					{% include "_navuser.html" %}
				</div>
				<div class="tabs">
					<div id="tab-8" class="tab">
						<article>
							<div class="text-section">
								<h1>Dashboard</h1>
								<ul class="states">
									{% for message in messages %}
									<li class="{{message.tags}}">{{message.tags.title}} : {{message}}</li>
									{% endfor %}
								</ul>
								<h2>Welcome to the Access control list. Please select one of the options from the top menu.</h2>
 								<table class="TFtable">
 									<tr>
 										<td>Username</td>
 										<td>Last Login</td>
 										<td>First Name</td>
 										<td>Last Name</td>
 										<td>E-mail address</td>
 										<td>Active?</td>
 										<td>Date joined</td>
 									</tr>
 									<tr>
 										<td>{{ user.username }}</td>
 										<td>{{ user.last_login }}</td>
 										<td>{{ user.first_name }}</td>
 										<td>{{ user.last_name }}</td>
 										<td>{{ user.email }}</td>
 										<td>{{ user.is_active }}</td>
 										<td>{{ user.date_joined }}</td>
 									</tr>
 								</table>
							</div>
						</article>
					</div>
				</div>
				<div id="footer">Project Network Management System is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version. Click <a href="{% url 'nms:license' %}">here</a> for more information.</div>
			</div>
		</div>
		<aside id="sidebar">
			<img src="{{ STATIC_URL }}images/NMS.png"/>
			{% include "_nav.html" %}
			<span class="shadow"></span>
		</aside>
	</div>
</body>
</html>
