<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<title>Network Management System - AdminPanel: ACL</title>
	<link media="all" rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/all.css" />
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script type="text/javascript">window.jQuery || document.write('<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.2.min.js"><\/script>');</script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.main.js"></script>
	<!--[if lt IE 9]><link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/ie.css" /><![endif]-->
</head>
<body>
	<div id="wrapper">
		<div id="content">
			<div class="c1">
				<div class="controls">
					<nav class="links">
						{% include "_navup.html" %}
					</nav>
					<div class="profile-box">
						<span class="profile">
							<a href="#" class="section">
								<!-- <img class="image" src="images/img1.png" alt="image description" width="26" height="26" /> -->
								<span class="text-box">
									You are logged in as:
									<strong class="name">{{ user }}</strong>
								</span>
							</a>
							<a href="#" class="opener">opener</a>
						</span>
						<a href="{% url 'nms:logout_handler' %}" class="btn-on">On</a>
					</div>
				</div>
				<div class="tabs">
					<div id="tab-8" class="tab">
						<article>
							<div class="text-section">
								<h1>Dashboard</h1>
								<ul class="states">
									{% for message in messages %}
									<li class="{{message.tags}}">{{message.tags.title}} : {{message}}</li>
									{% endfor %}
								</ul>
								<h2>Groups: </h2>
								<form action="{% url 'nms:acl_groups_handler' %}" method ="POST">
								{% csrf_token %}
								<table border ="0">
									<tr>
										<td>Add group:</td>
										<td><input type="group" name="group" /> <input type="hidden" value="dev" name="task" /> <input type="submit" value="Submit"></td>
									</tr>
								</table>
								</form>
								<br>
								<form name="devices" action="{% url 'nms:acl_groups_handler' %}" method="POST">
									{% csrf_token %}
								<table class="TFtable">
									<tr>
										<td><b>Group</b></td>
										<td></td>
										<td><b>Delete</b></td>
									</tr>
									{% for group in dev_groups %}
									<tr>
										<td><a href="{% url 'nms:acl_groups_manage' group.id %}">{{ group }}</a></td>
										<td class="button"><a href="{% url 'nms:acl_groups_manage' group.id %}"><img src="{{ STATIC_URL }}images/infoButton.png" width="20px" /></a></td>
										<td><input type="checkbox" name="delete" value="{{ group.id }}" /></td>
									</tr>
									{% endfor %}
									</tr>
								</table>
								<input type="hidden" name="task" value="delete" />
								<input type="submit" value="Delete" id="delete" />
							</form>
								
								{% if user_perm %}
								<br>
								<h2>User groups:</h2>
								<form action="{% url 'nms:acl_groups_handler' %}" method ="POST">
								{% csrf_token %}
								<table border ="0">
									<tr>
										<td>Add group:</td>
										<td><input type="group" name="group" /> <input type="hidden" value="usr" name="task" /> <input type="submit" value="Submit"></td>
									</tr>
								</table>
								</form>
								<br>
								<form name="devices" action="{% url 'nms:acl_groups_handler' %}" method="POST">
									{% csrf_token %}
								<table class="TFtable">
									<tr>
										<td><b>Group</b></td>
										<td><b>Permissions</b></td>
										<td></td>
									</tr>
									<tr>		
									{% for group in usr_groups %}
										<td>{% if group.name == 'usr:admin' or group.name == 'usr:staff' %}{{ group }}{% else %}<a href="{% url 'nms:acl_groups_manage' group.id %}">{{ group }}</a>{% endif %}</td> 
										<br />
										<td>{% for permissions in group.permissions.all %}
										{{ permissions.name }}<br>
										{% endfor %}</td>
										<td>{% if group.name == 'usr:admin' or group.name == 'usr:staff' %}You're not allowed to delete this group.{% else %}<input type="checkbox" name="delete" value="{{ group.id }}" />{% endif %}</td>
										
									</tr>
								{% endfor %}
								
								
								</table>
								<input type="hidden" name="task" value="delete" />
								<input type="submit" value="Delete" id="delete" />
								</form>
								{% endif %}	
							</div>
						</article>
					</div>
				</div>
			</div>
		</div>
		<aside id="sidebar">
			<img src="{{ STATIC_URL }}images/NMS.png"/>
			{% include "_nav.html" %}
			<span class="shadow"></span>
		</aside>
	</div>
</body>
</html>
