<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<title>Network Management System - AdminPanel: ACL</title>
	<link media="all" rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/all.css" />
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script type="text/javascript">window.jQuery || document.write('<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.2.min.js"><\/script>');</script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.main.js"></script>
	<!--[if lt IE 9]><link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/ie.css" /><![endif]-->
</head>
<body>
	<div id="wrapper">
		<div id="content">
			<div class="c1">
				<div class="controls">
					<nav class="links">
						{% include "_navup.html" %}
					</nav>
					{% include "_navuser.html" %}
				</div>
				<div class="tabs">
					<div id="tab-8" class="tab">
						<article>
							<div class="text-section">
								<h1>Dashboard</h1>
								<ul class="states">
									{% for message in messages %}
									<li class="{{message.tags}}">{{message.tags.title}} : {{message}}</li>
									{% endfor %}
								</ul>
								{% if perms.auth.add_group %}
								<table border="0" width="100%">
									<tr>
										<td width="50%" style="vertical-align: top;">
											<h2>Device Groups: </h2>
											<form action="{% url 'nms:acl_groups_handler' %}" method ="POST">
											{% csrf_token %}
											<table border="0">
												<tr>
													<td>Add group:</td>
													<td><input type="group" name="group" /> <input type="hidden" value="dev" name="task" /> <input type="submit" value="Submit"></td>{% endif %}
												</tr>
											</table>
											</form>
											<br/>
											{% if perms.auth.list_group %}
											<form name="devices" action="{% url 'nms:acl_groups_handler' %}" method="POST">
												{% csrf_token %}
											<table class="TFtable">
												<tr>
													<td><b>Group</b></td>
													<td>Permissions</td>
													<td>Change Group</td>
													<td><b>Delete</b></td>
												</tr>
												{% for group in dev_groups %}
												<tr>
													<td>{{ group }}</td>
													<td>{% for permission in group.permissions.all %} 
														{{ permission.name }}<br/>
														{% endfor %}
													</td>
													{% if perms.auth.change_group %}<td class="button"><a href="{% url 'nms:acl_groups_manage' group.id %}"><img src="{{ STATIC_URL }}images/infoButton.png" width="20px" /></a>{% else %}<td>N/A{% endif %}</td>
													<td>{% if perms.auth.delete_group %}<input type="checkbox" name="delete" value="{{ group.id }}" />{% else %}N/A {% endif %}</td>
												</tr>
												{% endfor %}
												</tr>
											</table>
											<input type="hidden" name="task" value="delete" />
											{% if perms.auth.delete_group %}<input type="submit" value="Delete" id="delete" />{% endif %}
										</form>
										{% endif %}
										</td>
										<td width="50%" style="vertical-align: top;">
											{% if perms.auth.add_group %}
											{% if user_perm %}
											<h2>User Groups:</h2>
											<form action="{% url 'nms:acl_groups_handler' %}" method ="POST">
											{% csrf_token %}
											<table border="0">
												<tr>
													<td>Add group:</td>
													<td><input type="group" name="group" /> <input type="hidden" value="usr" name="task" /> <input type="submit" value="Submit"></td>
												</tr>
											</table>
											</form>
											<br />
											{% endif %}
											{% if perms.auth.list_group %}
											<form name="devices" action="{% url 'nms:acl_groups_handler' %}" method="POST">
												{% csrf_token %}
											<table class="TFtable">
												<tr>
													<td><b>Group</b></td>
													<td><b>Permissions</b></td>
													<td>Change Group</td>
													<td>Delete</td>
												</tr>
												<tr>		
												{% for group in usr_groups %}
													<td>{% if group.name == 'usr:admin' or group.name == 'usr:staff' %}{{ group }}{% else %}<a href="{% url 'nms:acl_groups_manage' group.id %}">{{ group }}</a>{% endif %}</td> 
													
													<td>{% for permissions in group.permissions.all %}
													{{ permissions.name }}<br />
													{% endfor %}</td>
													{% if perms.auth.change_group %}<td>{% if group.name == 'usr:admin' or group.name == 'usr:staff' %}<img src="{{ STATIC_URL }}images/lockedButton.png" width="20px" />{% else %}<a href="{% url 'nms:acl_groups_manage' group.id %}"><img src="{{ STATIC_URL }}images/infoButton.png" width="20px"/></a>{% endif %}{% else %}<td>N/A{% endif %}</td>
													{% if perms.auth.delete_group %}<td>{% if group.name == 'usr:admin' or group.name == 'usr:staff' %}<input type="checkbox" disabled />{% else %}<input type="checkbox" name="delete" value="{{ group.id }}" />{% endif %}{% else %}<td>N/A{% endif %}</td>
										
												</tr>
											{% endfor %}
								
								
											</table>
											<input type="hidden" name="task" value="delete" />
											{% if perms.auth.delete_group %}<input type="submit" value="Delete" id="delete" />{% endif %}
											</form>
											{% endif %}
										</td>
									</tr>
								</table>
								{% endif %}
							</div>
						</article>
					</div>
				</div>
				<div id="footer">Project Network Management System is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version. Click <a href="{% url 'nms:license' %}">here</a> for more information.</div>
			</div>
		</div>
		<aside id="sidebar">
			<img src="{{ STATIC_URL }}images/NMS.png"/>
			{% include "_nav.html" %}
			<span class="shadow"></span>
		</aside>
	</div>
</body>
</html>
