<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<title>Network Management System - AdminPanel: ACL</title>
	<link media="all" rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/all.css" />
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script type="text/javascript">window.jQuery || document.write('<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.2.min.js"><\/script>');</script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.main.js"></script>
	<!--[if lt IE 9]><link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/ie.css" /><![endif]-->
</head>
<body>
	<div id="wrapper">
		<div id="content">
			<div class="c1">
				<div class="controls">
					<nav class="links">
						{% include "_navup.html" %}
					</nav>
					<div class="profile-box">
						<span class="profile">
							<a href="#" class="section">
								<!-- <img class="image" src="images/img1.png" alt="image description" width="26" height="26" /> -->
								<span class="text-box">
									You are logged in as:
									<strong class="name">{{ user }}</strong>
								</span>
							</a>
							<a href="#" class="opener">opener</a>
						</span>
						<a href="{% url 'nms:logout_handler' %}" class="btn-on">On</a>
					</div>
				</div>
				<div class="tabs">
					<div id="tab-8" class="tab">
						<article>
							<div class="text-section">
								<h1>Dashboard</h1>
								<ul class="states">
									{% for message in messages %}
									<li class="{{message.tags}}">{{ message.tags.title }} : {{ message }}</li>
									{% endfor %}
								</ul>
								<h2>Manage User: {{ user }}</h2>
								<form name="usr_group" action="{% url 'nms:acl_handler' user_obj.id %}" method="POST">
									{% csrf_token %}
									<table class="TFtable">
										<tr>
											<td>Group</td>
											<td>Users</td>
											<td>Permissions</td>
										</tr>
									{% for item in groups %}
										<tr>
										{% if item in user_obj.groups.all %}
											<td><input type="checkbox" name="groups" value="{{ item }}" checked />{{ item }}</td>
											{% else %}
											<td><input type="checkbox" name="groups" value="{{ item }}" />{{ item }}</td>
											{% endif %}
											<td><ul>{% for usr_item in item.user_set.all %}
												<li>{{ usr_item }}</li>
											</ul>{% endfor %}</td>
											<td><ul>{% for iter in item.permissions.all %}
												<li>{{ iter.name }}</li>
											</ul>{% endfor %}</td>
										{% endfor %}
										</tr>
									{% endfor %}
									</table>
									<input type="hidden" name="task" value="usr_group_update" />
									<input type="submit" value="Update" />
								</form>
								<h2>ACL MANAGE USER </h2>
								*** USER {{ user_obj.username }} ***
								<li>USERNAME: {{ user_obj.username }}</li>
								<li>LAST_LOGIN: {{ user_obj.last_login }}</li>
								<li>IS_SUPERUSER: {{ user_obj.is_superuser }}</li>
								<li>FIRST_NAME: {{ user_obj.first_name }}</li>
								<li>LAST_NAME: {{ user_obj.last_name }}</li>
								<li>EMAIL: {{ user_obj.email }}</li>
								<li>IS_STAFF: {{ user_obj.is_staff }}</li>
								<li>IS_ACTIVE: {{ user_obj.is_active }}</li>
								<li>DATE_JOINED: {{ user_obj.date_joined }}</li>
								<br />
								
								
								*** USER IS ADDED IN THE FOLLOWING DEVICE GROUPS ***
								{% for iter in device_groups %}
								<li>{{ iter }}</li>
								{% endfor %}
								<br/>
								
								*** USER IS ADDED IN THE FOLLOWING USER GROUPS ***
								{% for iter in user_groups %}
								<li>{{ iter }}</li>
								{% endfor %}
								<br/>
								
								*** USER HAS THE FOLLOWING PERMISSIONS ***
								{% for iter in user_obj.user_permissions.all %}
								<li>{{ iter }}</li>
								{% endfor %}
								<br/>
								
								*** EXISTING PERMISSIONS ***
								{% for iter in existing_permissions %}
								<li>{{ iter.codename }}</li>
								{% endfor %}
								<br/>
								
								*** GROUPS NOT ASSIGNED TO ***
								{% for iter in groups %}
								{% if iter in device_groups or iter in user_groups %}
								{% else %}
								<li>{{ iter }}</li>
								{% endif %}
								{% endfor %}
								<br/>
								
							</div>
						</article>
					</div>
				</div>
			</div>
		</div>
		<aside id="sidebar">
			<img src="{{ STATIC_URL }}images/NMS.png"/>
			{% include "_nav.html" %}
			<span class="shadow"></span>
		</aside>
	</div>
</body>
</html>
