{% if messages %}
    {% for message in messages %}
    <strong> {{ message }} </strong>
    {% endfor %}
{% endif %}
<h1>Add Device</h1>
<form action="{% url 'nms:nms_admin_add_device' %}" method="POST">
{% csrf_token %}
	<table border="0">
		<tr>
			<td>Device (type/vendor/model):</td>
			<td><select id="gen_dev" name="gen_dev_id">
				{% for record in gen_dev %}
					<option value="{{ dev.gen_dev_id }}">{{ record }}</option>
				{% endfor %}
			</select></td>
		</tr>
		<tr>
			<td>OS:</td>
			<td><select id="os_dev_id" name="os_dev_id">
				{% for record in os_view %}
					<option value="{{ record.os_dev_id }}">{{ record }}</option>
				{% endfor %}
			</select></td>
		</tr>
		<tr>
			<td>Preferred protocol:</td>
			<td><select id="pref_remote_prot" name="pref_remote_prot">
				<option>SSH2</option>
				<option>SSH1</option>
				<option>Telnet</option>
			</select></td>
		</tr>
		<tr>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td><strong>Network settings</strong></td>
		</tr>
		<tr>
			<td><input type="radio" name="ipprot" value="4"> IPv4</td>
		</tr>
		<tr>
			<td><input type="radio" name="ipprot" value="6"> IPv6</td>
		</tr>
		<tr>
			<td>IP address:</td>
			<td><input type="text" name="ipaddr" id="ipaddr" /></td>
		</tr>
		<tr>
			<td>Port:</td>
			<td><input type="text" name="port" id="port" /></td>
		</tr>
		<tr>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td><strong>Login Settings</strong></td>
		</tr>
		<tr>
			<td>Username:</td>
			<td><input type="text" name="login_name" id="login_name" /></td>
		</tr>
		<tr>
			<td>Password:</td>
			<td><input type="password" name="password_remote" id="password_remote" /></td>
		</tr>
		<tr>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>Privileged EXEC (enable) password:</td>
			<td><input type="password" name="password_enable" id="password_enable" /></td>
		</tr>
		<tr>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td><input type="submit" value="Test Connection" id="testconn" /></td>
			<td><input type="submit" value="Add Device" id="add_device" /></td>
		</tr>
	</table>
</form>

<a href="{% url 'nms:logout_handler' %}">Logout</a>
