{% if messages %}
    {% for message in messages %}
    <strong> {{ message }} </strong>
    {% endfor %}
{% endif %}

<h1>NMS password change</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'nms:chpasswd' %}" method="POST">
	{% csrf_token %}
	<table border="0">
		<tr>
			<td>Username:</td>
			<td><input type="password" name="oldpassword" id="oldpassword" /></td>
		</tr>
		<tr>
			<td>Password:</td>
			<td><input type="password" name="newpassword1" id="newpassword1" /></td>
		</tr>
		<tr>
			<td>Password again:</td>
			<td><input type="password" name="newpassword2" id="newpassword2" /></td>
		</tr>
		<tr>
			<td><input type="submit" value="Submit" id="submit" /></td>
			<td><input type="reset" value="reset" id="reset" /></td>
		</tr>
	</table>
</form>

<a href="{% url 'nms:logout_handler' %}">Logout</a>
