<h1>NMS password change</h1>
{% if messages %}
    {% for message in messages %}
    <strong> {{ message }} </strong>
    {% endfor %}
{% endif %}
<form action="{% url 'nms:user_settings' %}" method="POST">
	{% csrf_token %}
	<table border="0">
		<tr>
			<td>Old password:</td>
			<td><input type="password" name="oldpassword" id="oldpassword" /></td>
		</tr>
		<tr>
			<td>New password:</td>
			<td><input type="password" name="newpassword1" id="newpassword1" /></td>
		</tr>
		<tr>
			<td>New password again:</td>
			<td><input type="password" name="newpassword2" id="newpassword2" /></td>
		</tr>
		<tr>
			<td><input type="submit" value="Submit" id="submit" /></td>
			<td><input type="reset" value="reset" id="reset" /></td>
		</tr>
	</table>
</form>

<a href="{% url 'nms:logout_handler' %}">Logout</a>
