<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<title>Network Management System - AdminPanel: Devices</title>
	<link media="all" rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/all.css" />
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script type="text/javascript">window.jQuery || document.write('<script type="text/javascript" src="{{ STATIC_js/jquery-1.7.2.min.js"><\/script>');</script>
	<script type="text/javascript">
		function showLoadingImage(num)
		{
			document.getElementById('loadingImage'.concat(num)).style.visibility='visible';
		}
		function changeurl(id)
		{
			e = document.getElementById(id);
			e.href = e.href + '&uargs=lololol'
		}
	</script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.main.js"></script>
	<!--[if lt IE 9]><link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/ie.css" /><![endif]-->
</head>
<body>
	<div id="wrapper">
		<div id="content">
			<div class="c1">
				<div class="controls">
					<nav class="links">
						{% include "_navupdev.html" %}
					</nav>
					{% include "_navuser.html" %}
				</div>
				<div class="tabs">
					<div id="tab-4" class="tab">
						<article>
							<div class="text-section">
								<h1>Dashboard</h1>
								<ul class="states">
								{% for message in messages %}
								<li class="{{message.tags}}">{{message.tags.title}} : {{message}}</li>
								{% endfor %}
							</ul>
								<h2>Devices</h2>
								<table class="TFtable">
									<tr>
										<td><b>Type</b></td>
										<td><b>Device</b></td>
										<td><b>IP address</b></td>
										<td><b>State</b></td>
										<td><b>Manage</b></td>
										<td><b>Modify</b></td>
										<td><b>History</b></td>
									</tr>
								{% for device in devices %}
									<tr>
										<td>{{ device.gen_dev_id.dev_type_id }}</td>
										<td>{{ device.gen_dev_id }}</td>
										<td>{{ device.ip }}</td>
										<td>## UP/DOWN ##</td>
										<td>{% if perms.nms.manage_devices %}<a href="{% url 'nms:device_manager' device.dev_id %}" onclick="showLoadingImage({{ device.dev_id }});"><img src="{{ STATIC_URL }}images/editButton.png" width="25px" /></a> <img id="loadingImage{{ device.dev_id }}" src="{{ STATIC_URL }}images/loading.gif" style="visibility:hidden"/>{% else %}N/A{% endif %}</td>
										<td>{% if perms.nms.change_devices %}<a href="{% url 'nms:device_modify' device.dev_id %}">Change</a>{% else %} N/A{% endif %}</td>
										<td>{% if perms.nms.manage_devices %}<a href="{% url 'nms:history' device.dev_id %}">History</a>{% else %}N/A{% endif %}</td>
									</tr>
								{% endfor %}
								</table>
							</div>
						</article>
					</div>
				</div>
			</div>
		</div>
		<aside id="sidebar">
			<img src="{{ STATIC_URL }}images/NMS.png"/>
			{% include "_nav.html" %}
			<span class="shadow"></span>
		</aside>
		<div class="push"></div> <!-- This element pushes the footer beyond the wrapper... If forgotten, the footer will be underneath the wrapper -->
	</div> <!-- Wrapper -->
	<footer>
		Project Network Management System is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License.
	</footer>
</body>
</html>