<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<title>Network Management System - AdminPanel: Devices</title>
	<link media="all" rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/all.css" />
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script type="text/javascript">window.jQuery || document.write('<script type="text/javascript" src="{{ STATIC_js/jquery-1.7.2.min.js"><\/script>');</script>
	<script type="text/javascript">
		function showLoadingImage(num)
		{
			document.getElementById('loadingImage'.concat(num)).style.visibility='visible';
		}
	</script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.main.js"></script>
	<!--[if lt IE 9]><link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/ie.css" /><![endif]-->
</head>
<body>
	<div id="wrapper">
		<div id="content">
			<div class="c1">
				<div class="controls">
					<nav class="links">
						{% include "_navupdev.html" %}
					</nav>
					<div class="profile-box">
						<span class="profile">
							<a href="#" class="section">
								<!-- <img class="image" src="{{ STATIC_URL }}images/img1.png" alt="image description" width="26" height="26" /> -->
								<span class="text-box">
									You are logged in as:
									<strong class="name">{{ user }}</strong>
								</span>
							</a>
							<a href="#" class="opener">opener</a>
						</span>
						<a href="{% url 'nms:logout_handler' %}" class="btn-on">On</a>
					</div>
				</div>
				<div class="tabs">
					<div id="tab-4" class="tab">
						<article>
							<div class="text-section">
								<h1>Dashboard</h1>
								<ul class="states">
								{% for message in messages %}
								<li class="{{message.tags}}">{{message.tags.title}} : {{message}}</li>
								{% endfor %}
							</ul>
								<h2>Devices</h2>
								<table class="TFtable">
									<tr>
										<td><b>Type</b></td>
										<td><b>Device</b></td>
										<td><b>IP address</b></td>
										<td><b>State</b></td>
										<td><b>Manage</b></td>
									</tr>
								{% for device in devices %}
									<tr>
										<td>{{ device.gen_dev_id.dev_type_id }}</td>
										<td>{{ device.gen_dev_id }}</td>
										<td>{{ device.ip }}</td>
										<td>## UP/DOWN ##</td>
										<td><a href="{% url 'nms:device_manager' device.dev_id %}" onclick="showLoadingImage({{ device.dev_id }});"><img src="{{ STATIC_URL }}images/modifyButton.png" width="50px" /></a> <img id="loadingImage{{ device.dev_id }}" src="{{ STATIC_URL }}images/loading.gif" style="visibility:hidden"/></td>
									</tr>
								{% endfor %}
								</table>
							</div>
						</article>
					</div>
				</div>
			</div>
		</div>
		<aside id="sidebar">
			<img src="{{ STATIC_URL }}images/NMS.png"/>
			{% include "_nav.html" %}
			<span class="shadow"></span>
		</aside>
	</div>
</body>
</html>