{% if messages %}
    {% for message in messages %}
    <strong> {{ message }} </strong>
    {% endfor %}
{% endif %}

<h1>NMS Login</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'nms:session_handler' %}" method="POST">
	{% csrf_token %}
	<table border="0">
		<tr>
			<td>Username:</td>
			<td><input type="text" name="username" id="username" /></td>
		</tr>
		<tr>
			<td>Password:</td>
			<td><input type="password" name="password" id="password" /></td>
		</tr>
		<tr>
			<td><input type="submit" value="Login" id="login" /></td>
			<td><input type="reset" value="Reset" id="reset" /></td>
		</tr>
	</table>
	<input type="hidden" name="url" value="{{ url }}" />
</form>
