<h1>{{ devices.gen_dev.dev_type.dev_type_name }}: {{ devices.gen_dev_id }} ({{ devices.ip }})</h1>
{% if messages %}
    {% for message in messages %}
    <strong> {{ message }} </strong>
    {% endfor %}
{% endif %}
<ul>
	<li>Interface configuration</li>
	<li>Security Settings</li>
	<li>General Settings</li>
	<li>
		<ul>
			<li><form action="{% url 'nms:send_command' 1 %}" method="POST">{% csrf_token %}<input type="hidden" name="command" value="shutdown fe0/0" /><input type="submit" value="Shutdown" /></form></li>
			<li>Restart</li>
		</ul>
	</li>
</ul>

<a href="/nms-admin">Devices</a><br />
<a href="{% url 'nms:logout_handler' %}">Log out</a>
