<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<title>Network Management System - AdminPanel: Devices</title>
	<link media="all" rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/all.css" />
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script type="text/javascript">window.jQuery || document.write('<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.2.min.js"><\/script>');</script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.main.js"></script>
	<script type="text/javascript">
		function showLoadingImage(num)
		{
			document.getElementById('loadingImage'.concat(num)).style.visibility='visible';
		}
	</script>
	<!--[if lt IE 9]><link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/ie.css" /><![endif]-->
</head>
<body>
	<div id="wrapper">
		<div id="content">
			<div class="c1">
				<div class="controls">
					<!-- Upper Menu -->
					<div class="profile-box">
						<span class="profile">
							<a href="#" class="section">
								<!-- <img class="image" src="{{ STATIC_URL }}images/img1.png" alt="image description" width="26" height="26" /> -->
								<span class="text-box">
									You are logged in as:
									<strong class="name">{{ user }}</strong>
								</span>
							</a>
							<a href="#" class="opener">opener</a>
						</span>
						<a href="{% url 'nms:logout_handler' %}" class="btn-on">On</a>
					</div>
				</div>
				<div class="tabs">
					<div id="tab-4" class="tab">
						<article>
							<div class="text-section">
								<h1>Dashboard</h1>
								<ul class="states">
									{% for message in messages %}
									<li class="{{message.tags}}">{{message.tags.title}} : {{message|safe}}</li>
									{% endfor %}
								</ul>
								<h2>Device: {{ devices.gen_dev_id }} ({{ devices.ip }})</h2>
								<p>
									<b><a href="{% url 'nms:device_manager' devices.dev_id %}?refresh" onclick="showLoadingImage(1)">Refresh this page</a></b> <img id="loadingImage1" src="{{ STATIC_URL }}images/loading.gif" style="visibility:hidden" />
									<br /><b><a href="{% url 'nms:device_ssh' devices.dev_id %}">Open terminal</a></b>
									{{ taskhtml|safe }}
								</p>
							</div>
						</article>
					</div>
				</div>
			</div>
		</div>
		<aside id="sidebar">
			<img src="{{ STATIC_URL }}images/NMS.png"/>
			{% include "_nav.html" %}
			<span class="shadow"></span>
		</aside>
	</div>
</body>
</html>
