<ul>
	{% if perms.auth.list_group or perms.auth.add_group or perms.auth.delete_group or perms.auth.change_group %}<li><a href="/acl/groups" class="ico1">ACL Groups<span class="num">{{ group_count }}</span></a></li>{% endif %}
	{% if perms.auth.add_user or perms.auth.change_user or perms.auth.delete_user or perms.auth.list_user %}<li><a href="/acl/users" class="ico2">ACL Users<span class="num">{{ user_count }}</span></a></li>{% endif %}
	{% if perms.auth.list_group  %}<li><a href="/acl/devices" class="ico3">ACL Devices<span class="num">{{ devices_count }}</span></a></li>{% endif %}
</ul>