<!DOCTYPE html>
	<head>
		<meta charset="utf-8">
		<title>yaNMS - ACL Add User</title>
		<link media="all" rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/all.css" />
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<script type="text/javascript">window.jQuery || document.write('<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.2.min.js"><\/script>');</script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.main.js"></script>
		<!--[if lt IE 9]><link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/ie.css" /><![endif]-->
	</head>
	<body>
		<div id="wrapper">
			<div id="content">
				<div class="c1">
					<div class="controls">
						<nav class="links">
							{% include "_navup.html" %}
						</nav>
						{% include "_navuser.html" %}
					</div>
					<div class="tabs">
						<div id="tab-8" class="tab">
							<article>
								<div class="text-section">
									<h1>Dashboard</h1>
									<ul class="states">
										{% for message in messages %}
										<li class="{{message.tags}}">{{message.tags.title}} : {{message}}</li>
										{% endfor %}
									</ul>
									<h2>ACL Add User</h2>
									<br />
									<form action="{% url 'nms:acl_user_add_handler' %}" method="POST">
										{% csrf_token %}
										<table border="0">
											<tr>
												<td>First Name:</td>
												<td><input type="name" name="firstname" id="firstname"/></td>
											</tr>
											<tr>
												<td>Last Name:</td>
												<td><input type="surname" name="surname" id="surname"/></td>
											</tr>
											<tr>
												<td>E-Mail:</td>
												<td><input type="email" name="emailaddress" id="newemail"/></td>
											</tr>
											<tr>
												<td>Username:</td>
												<td><input type="text" name="username" /></td>
											</tr>
											<tr>
												<td>Password:</td>
												<td><input type="password" name="password" id="password" /></td>
											</tr>
											<tr>
												<td>Password (Check):</td>
												<td><input type="password" name="password2" id="password2" /></td>
											</tr>
											<tr>
												<td><input type="submit" value="Submit" id="submit" /><input type="reset" value="Reset" id="reset" onclick="clearsettings()" /></td>
											</tr>
										</table>
									</form>
								</div>
							</article>
						</div>
					</div>
				</div>
			</div>
			<aside id="sidebar">
				<img src="{{ STATIC_URL }}images/NMS.png"/>
				{% include "_nav.html" %}
				<span class="shadow"></span>
			</aside>
			<div class="push"></div>
		</div>
		<footer>
			yaNMS is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation.
		</footer>
	</body>
</html>
