{% if messages %}
    {% for message in messages %}
    <strong> {{ message }} </strong>
    {% endfor %}
{% endif %}
<h1>Add Device</h1>
<form action="{% url 'nms:nms_admin_add_device'  %}" method="POST">
{% csrf_token %}
	Device type: <select id="dev_type">
	{% for type in dev_type_view %}
		<option>{{ type.dev_type_name }}</option>
	{% endfor %}
	</select><br />
	Vendor: <select id="vendor_name">
	{% for record in vendor_view %}
		<option>{{ record.vendor_name }}</option>
	{% endfor %}
	</select><br />
	Model: <select id="dev_model">
	{% for model in dev_model_view %}
		<option>{{ model.model_name }}</option>
	{% endfor %}
	</select><br />
	OS: <select id="os_name">
	{% for record in os_view %}
		<option>{{ record }}</option>
	{% endfor %}
	</select><br />
	Preferred protocol: <select id="pref_remote_prot">
		<option>SSH2</option>
		<option>SSH1</option>
		<option>Telnet</option
	</select><br /><br />
	Network settings: <br />
	<input type="radio" name="ipprot" value="IPv4"> IPv4 address: <input type="text" id="ipv4" /><br />
	<input type="radio" name="ipprot" value="IPv6"> IPv6 address: <input type="text" id="ipv6" /><br />
	Port: <input type="text" id="port" /><br /><br />
	Login Settings (SSH(1/2)):<br />
	Username: <input type="text" id="login_name" /><br />
	Password: <input type="password" id="password_remote" /><br /><br />
	Privileged EXEC (enable) password: <input type="password" id="password_enable" /><br /><br />
	<input type="submit" value="Test Connection" id="testconn" /> <input type="submit" value="Add Device" id="add_device" />
</form>
