<h1>Add Device</h1>
<form action="{% url 'nms:nms_admin_add_device'  %}" method="POST">
{% csrf_token %}
	Device type: <select>
	{% for type in dev_type %}
		<option>{{ type.dev_type_name }}</option>i
	{% endfor %}
	</select><br />
	Vendor: <select>
	{% for record in vendor %}
		<option>{{ record.vendor_name }}</option>
	{% endfor %}
	</select><br />
	Model: <select>
	{% for model in dev_model %}
		<option>{{ model.model_name }}</option>
	{% endfor %}
	</select><br />
	OS: <select>
	{% for record in os %}
		<option>{{ record.os_name }}</option>
	{% endfor %}
	</select><br />
	Preferred protocol: <select>
		<option>SSH2</option>
		<option>SSH1</option>
		<option>Telnet</option
	</select><br /><br />
	<input type="checkbox" name="ipprot" value="IPv4"> <input type="text" id="ipv4" /><br />
	<input type="checkbox" name="ipprot6" value="IPv6"> <input type="text" id="ipv6" /><br />
	<input type="submit" value="Test Connection" id="testconn" /> <input type="submit" value="Add Device" id="add_device" />
</form>
